@import "../../styles/main.scss";

.notFound {
  margin: 120px 140px;

  display: flex;
  justify-content: center;
  gap: 60px;

  &__link {
    padding: 8px 10px;
    color: $color-black-coal;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      background-color: $color-caramel-yellow;
    }
  }
}